body {
  max-width: 1400px;
  margin: 100px auto;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: repeat(14, 80px);
  grid-auto-rows: 50px;
  grid-column-gap: 20px;
}

.parallax {

  &__main-image {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 11;
  }

  &__text-container {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 9;
    padding: 40px;
    background-color: #fff;
    transition: all 0.15s ease;
  }

  &__heading-text {
    margin: 0 0 20px 0;
    font-size: 44px;
    line-height: 50px;
    font-weight: normal;
  }

  &__paragraph-text {
    margin: 0;
    line-height: 30px;
    font-size: 16px;
  }
}

.section-divider {
  background: url('section-divider.svg');
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 10;
  grid-row-end: 20;
  background-repeat: no-repeat;
  z-index: -1;
}

.second-parallax{

  &__main-image{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 12;
    grid-row-end: 22;
  }

  &__secondary-image{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 19;
    grid-row-end: 26;
    transition: all 0.15s ease;
  }

  &__text-container{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 13;
    grid-row-end: 17;
  }
}

.third-parallax{

  &__main-image{
    grid-row-start: 24;
    grid-row-end: 34;
    grid-column-start: 2;
    grid-column-end: 8;
  }

  &__text-container {
    padding-left: 50px;
    background-color: rgba(0,0,0,0.7);
    color:white;
    grid-row-start: 27;
    grid-row-end: 34;
    grid-column-start:8;
    grid-column-end: 14;
  }

  &__heading-text{
    margin: 0;
    padding: 60px 0 14px 0;
    font-size: 30px;
  }

  &__text{
    font-size: 16px;
    padding-right: 33px;
  }
}

.lets-talk{
  background-color: #F3F3F3;
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 34;
  grid-row-end: 41;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__heading-text{
    text-align: center;
    font-size: 30px;
  }

  &__text{
    font-size: 16px;
    text-align: center;
  }

  &__button {
    background: #DD001B;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.19);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
    padding: 10px 30px;
  }
}
