.header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__item{
    padding: 10px 30px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      cursor: pointer;
      color: white;
      background: #DD001B;
      box-shadow: 0 2px 20px 0 rgba(0,0,0,0.19);
      border: none;
      border-radius: 4px;
      color: #FFFFFF;
    }

    &--active {
      color: white;
      background: #DD001B;
      box-shadow: 0 2px 20px 0 rgba(0,0,0,0.19);
      border: none;
      border-radius: 4px;
      color: #FFFFFF;
    }
  }
}
